mixin newsArticle(small)
     .news-article(class=small ? '--small' : '')
       h3.news-article__title(class=small ? '--small' : '') Уважаемые налогоплательщики заплатите налоги!
       .news-article__image-wrapper(class=small ? '--small' : '')
            img(src="/images/nalog.jpg", alt="" class=small ? '--small' : '').news-article__image
       p.news-article__text(class=small ? '--small' : '') Межрайонная ИФНС России № 6 по Пермскому краю сообщает, что в связи с Указом Президента Российской Федерации от 20.10.2021 № 595 «Об установлении на территории Российской Федерации нерабочих дней...
       .news-article__button-wrapepr
            a(href="#" class=small ? '--small' : '').news-article__read-more Читать далее 